.footer {
  width: 100%;
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 16px;
}

.footer a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}